<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>transaction-list</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-segment (ionChange)="segmentChanged($event)">
		<ion-segment-button value="inbound" checked>
			<ion-label>Eingehend</ion-label>
		</ion-segment-button>
		<ion-segment-button value="outbound">
			<ion-label>Ausgehend</ion-label>
		</ion-segment-button>
		<ion-segment-button value="current">
			<ion-label>Laufend</ion-label>
		</ion-segment-button>
	</ion-segment>

	<ion-list>
		<ion-item *ngFor="let trans of filteredTransactions">
			<div class="trans-item">
				<h3>{{ trans.item }}</h3>
				<p>{{ filter == 'inbound' ? trans.ausleiherID : trans.verleiherID }}</p>
				<p>{{ trans.startDate }} - {{ trans.endDate }}</p>
				<div class="button">
					<ion-button
						*ngIf="trans.status == 'pending' && filter == 'inbound'"
						(click)="changeTransactionStatus('accepted')"
					>
						Akzeptieren
					</ion-button>
					<ion-button
						*ngIf="trans.status == 'pending' && filter == 'inbound'"
						(click)="changeTransactionStatus('declined')"
					>
						Ablehnen
					</ion-button>
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
